{% extends 'profile/dashboard.html' %}

{% block content2 %}

<style type="text/css">
    .change-password-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .change-password-form input{
        width: 300px;
        text-align: center;
    }
    .alert{
        height: 40px;
    }
    .alert svg{
        width: 20px;
    }
    .alert svg{
        margin-left: 30%;
    }
    .text{
        margin-left: 10px;
    }
</style>


<h1>Change account password</h1>
<hr>


{% for message in messages %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div class="text">
        {{ message }}
    </div>
</div>
{% endfor %}


<div class="change-password-form">
    <form method="post">
        {% csrf_token %}
    
        <input type="password", name="old_password", placeholder="Old Password" class="textinput textInput form-control">
        <br>
        <input type="password", name="new_password1", placeholder="New Password" class="textinput textInput form-control">
        <br>
        <input type="password", name="new_password2", placeholder="Confirm Password" class="textinput textInput form-control">
        <br>
        <input type="submit", value="Change" class="btn btn-success">
        <br><br>

        <a href="{% url 'core:profile' %}"><input type="button" value="Go back" class="btn btn-primary"></a>
    </form>
</div>

{% endblock content2 %}