{% extends 'base.html' %}

{% load static %}

{% block content %}

<style type="text/css">
    .lp{
        display: flex;
        flex-direction: column;
        align-items: center;;
    }
    h3{
        color: #CD853F;
    }
</style>


<div class="lp">
    <h1>A Library Management System</h1>

    <br><br>

    <h3>
        Made by Moraks. <hr>
    </h3>

    <br>

    <h4>Contact the Developer:</h4>


    <ul class="nav col-md-4 justify-content-center list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="https://github.com/Morakinyo-Joseph"><ion-icon name="logo-github"></ion-icon></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/m.o.r.a.k.s/"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="https://web.facebook.com/olushola.agaba"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/joseph-morakinyo-96588023a/"><ion-icon name="logo-linkedin"></ion-icon></a></li>
    </ul>

</div>









{% endblock content %}
